# macOS
.DS_Store

# IDE
.idea/
*.iml

# Kotlin / Gradle
.kotlin/
.gradle/
.gradle-user/
local.properties
/local.properties

# Build outputs
/build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# Android signing / secrets
*.keystore
*.jks

# iOS / Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# CocoaPods
Pods/

# iOS certificates / provisioning
*.p12
*.mobileprovision
*.provisionprofile

# HarmonyOS / DevEco Studio
.hvigor/
oh_modules/

# Node / frontend / tools
node_modules/
dist/

# Logs
*.log

# Environment files
.env
.env.*

# Resources files
/login_register_resources/

skill.md

~/                    # 误创建目录
harmonyApp/entry/libs/
harmonyApp/entry/src/main/libs/
test.md